@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-color: 66, 4, 126; /* Custom Purple */
  --background-end-color: 7, 244, 158;   /* Custom Teal */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-color)),
    rgb(var(--background-end-color))
  );
  margin: 0; /* Ensure no default margin affecting layout */
  padding: 0; /* Ensure no default padding affecting layout */
  height: 100vh; /* Ensure the body takes up full viewport height */
  width: 100vw; /* Ensure the body takes up full viewport width */
  overflow: hidden; /* Optional: Prevent scrolling if not needed */
}